---
import wdcc1 from "../images/screenshots/wdcc1.jpeg";
import wdcc2 from "../images/screenshots/wdcc2.jpeg";
import wdcc3 from "../images/screenshots/wdcc3.jpeg";

import hangout1 from "../images/screenshots/hangout1.jpg";
import hangout2 from "../images/screenshots/hangout2.jpg";
import hangout3 from "../images/screenshots/hangout3.jpg";

import restore1 from "../images/screenshots/restore1.png";

import Button from "./Button.astro";
---

<div class="px-8 sm:px-20 w-full">
  <p class="font-bold text-4xl sm:text-5xl mb-12">projects</p>
  <div class="flex flex-col sm:flex-row mb-12 sm:mb-32">
    <div class="sm:w-1/2 sm:mr-6">
      <div class="flex items-center justify-between mb-4">
        <p class="font-bold text-2xl sm:text-3xl">/wdcc-passport</p>
        <a href="https://github.com/UoaWDCC/passport" target="_blank"
          ><Button /></a
        >
      </div>
      <div class="flex rounded-lg gap-2">
        <img class="rounded-xl w-1/3" src={wdcc1.src} alt="" />
        <img class="rounded-xl w-1/3" src={wdcc2.src} alt="" />
        <img class="rounded-xl w-1/3" src={wdcc3.src} alt="" />
      </div>
      <div class="mt-6">
        <p class="font-medium text-xl sm:text-2xl">
          MERN stack web application developed for the top student-led tech club in New
          Zealand
        </p>
      </div>
    </div>

    <div class="sm:w-1/2 sm:ml-6 mt-12 sm:mt-0">
      <div class="flex items-center justify-between mb-4">
        <p class="font-bold text-2xl sm:text-3xl">/hangout</p>
        <a href="https://github.com/justinfyh/hangout" target="_blank"
          ><Button /></a
        >
      </div>
      <div class="flex rounded-lg gap-2">
        <img class="rounded-xl w-1/3" src={hangout1.src} alt="" />
        <img class="rounded-xl w-1/3" src={hangout2.src} alt="" />
        <img class="rounded-xl w-1/3" src={hangout3.src} alt="" />
      </div>
      <div class="mt-6">
        <p class="font-medium text-xl sm:text-2xl">
          Cross platform social media style mobile application built with Flutter and Firebase
        </p>
      </div>
    </div>
  </div>

  <div class="">
    <div class="flex flex-col sm:flex-row justify-center">
      <div class="flex sm:flex-col sm:mr-6 mb-4 sm:mb-0 items-center justify-between sm:justify-normal">
        <p class="font-bold text-2xl sm:text-3xl mb-2">/restore</p>
        <a href="https://github.com/calebwharton/Restore" target="_blank"
          ><Button /></a
        >
      </div>
      <div class="sm:w-1/2">
        <img class="rounded-xl" src={restore1.src} alt="" />
      </div>
      <div class="sm:ml-6 mt-6 sm:mt-0 sm:w-1/6">
        <p class="font-medium text-xl sm:text-2xl">
          Humanitarian focused web application developed for DEVS Hackathon
          2024, presented with Honourable Mention
        </p>
      </div>
    </div>
  </div>
</div>
